{% macro render_page(title, id, back=None ) -%}
    <div data-role="page" id="{{id}}">
        <div data-role="header" data-position="fixed">
        {% if back %}
			<a href='#{{back}}' class='ui-btn-left' data-rel='back' data-icon='arrow-l'>Back</a>
		{% endif %}
            <h1>{{ title }}</h1>
		<!--	<a href="" data-icon="search" data-iconpos="notext" data-rel="dialog" data-transition="fade" onclick="return showDialog()">Search</a>-->
        {% if id != "main" %}
			<a href="#main" class="ui-btn-right" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
        {% endif %}
       </div>
        <div data-role="content">
            {{ caller() }}
        </div>
    </div>


{%- endmacro %}

