{% import "macros.html" as macros %}

{% for (day, room_events) in conference.events|dictsort %}
{% call macros.render_page("Day %d %s" %(loop.index, day.strftime("%d.%m.%Y")), day.strftime("d_%s"), "main") %}
	<ul data-role="listview">
		{% for room in room_events %}
			{%- for roomstr, events in room.iteritems() -%}
			{% set roomname, roomid = roomstr.split("^--^") %}

				<li> <a href="#{{ roomid }}">{{ roomname }}</a><span class="ui-li-count">{{ events|count }}</span></li>
			{%- endfor -%}
		{% endfor %}
	</ul>
{% endcall %}

{% endfor %}
